* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none;
}

.task-creator {
    transition: all 0.5s ease;
}

.spinner {
    margin: 5rem auto;
    text-align: center;
}

.spinner svg {
    height: 6rem;
    width: 6rem;
    fill: #ffe08a;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
